*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.view1{
    display: flex;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.book{ 
    position: absolute;
    transform: scale(0.95);
    top: 2%;
    left: 8%;
    .kowala{
        position: absolute;
        top:34%;
        left: 22%;
        z-index: 5;
    }
    .buret{
        position: absolute;
        z-index: 4;
        top:33%;
        left: 33%;
    }
    .flog{
        position: absolute;
        transform: scale(1.3);
        top:27%;
        left: 14%;
    }
    .machine{
        position: absolute;
        transform: scale(1.2);
        top:15%;
        left: 22%;
        z-index: 3;
    }
    .wolf{
        position: absolute;
        transform: scale(1.3);
        top:51%;
        left: 32.5%;
    }
    .micro{
        transform: scale(1.1);
        position: absolute;
        top:19%;
        left: 40%;
        z-index: 5;
    }
    .fish{
        position: absolute;
        top:40%;
        left: -2%;
    }
}
.word{
    width: 500px;
    height: 120px;
    position: absolute;
    top:20%;
    left: 52%;
    transform: skew(-64deg,33deg);
    font-size: 16px;
    color: #7027A0;
    .w1{
        font: bold 150% Consolas, Monaco, monospace;
	    width: 10em;
	    white-space: nowrap;
	    overflow: hidden;
	    border-right: .05em solid;
	    animation: typing 3s steps(10) ,
	               caret .75s step-end infinite;
    }
    .w2{
        font: bold 150% Consolas, Monaco, monospace;
        width: 14em;
        overflow: hidden;
        white-space: nowrap;
        border-right: .05em solid;
        animation: typing2 3s steps(14), caret .75s step-end infinite;
        animation-delay: 3s;
        opacity: 0;
    }
    .w3{
        font: bold 150% Consolas, Monaco, monospace;
        width: 12em;
        overflow: hidden;
        white-space: nowrap;
        border-right: .05em solid;
        animation: typing3 3s steps(12), caret .75s  step-end infinite;
        animation-delay: 6s;
        opacity: 0;
    }

}
.cloud1{
    position: absolute;
    transform: scale(0.5);
    margin-top: -10%;
    margin-left:-13%;
    animation-name:c1,c2;
    animation-iteration-count: infinite,infinite;
    animation-duration:10s,10s;
}
.cloud2{
    position: absolute;
    transform: scale(0.6);
    top: 60%;
    margin-left: 58%;
    animation: c3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.main-nav{
    position: relative;
    margin-right: 20px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    .iconGroup{
        display: flex;
        justify-content: space-between;
    }
}
.logo{
    padding-right: 88em;
    margin-left: 20px;
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px 10px;
    background: #cdbdf6;
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        opacity: 0;
    }
    &:hover{
        background: #fae3d9;
        .text{
            opacity: 1;
        }
    }
}
.test{
    position:absolute;
    left:0;
    width:50px;
    height:50px;
    background:#f00;
    animation-name:c1;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
.view2{
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(../image/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bt_ladder{
    position: absolute;
    left: 6%;
}
.chapter-image{
    position: absolute;
    transform: scale(0.4);
}
.chapter-info{
    top: 10%;
    left:-10%;
}
.chapter-color{
    top:25%;
    left:12%;
}
.chapter-word{
    top:2%;
    left:30%;
}
.chapter-ppt{
    top:26%;
    left:52%;
}
.chapter-text1{
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    width: 458px;
    height: 504px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFF3E6;
    .patch1{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 120px;
        height: 120px;
        border-radius: 10% 0 95%;
        border: 3px dashed #D8bcaf;
        background: #F4E6dc;
    }
    .patch2{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 180px;
        height: 180px;
        border-radius: 95% 0 10%;
        border: 3px dashed #D8bcaf;
        background: #F4E6dc;
        img{
            margin-left: 30px;
            margin-top: 20px;
        }
    }
    .ch-image{
        margin-top: 5px;
        margin-left: 20px;
    }
    .close{
        position: absolute;
        width: 80px;
        height: 80px;
        top:-3%;
        right: -5%;
        background: #ffa5af;
        color: #f47890;
        border-radius: 50%;
        cursor: pointer;
        .cir{
            width: 75px;
            height: 75px;
            margin-top: 2px;
            border: 3px dashed #fac8d1;
            font-size: 30px;
            border-radius: 50%; 
            text-align: center;
            margin-left: 2.2px;
            .fas{
                margin-top: 18px;
            } 
        }
    }
    ul{
        margin-top: -30px;
        margin-left: 100px;
        list-style: disc;
        color: #683315;
    }
    li{
        font-size: 20px;
        // &::before{ //自訂list syle
        //     content: "\2022";
        //     color: #efdfd3;
        //     font-weight: bold;
        //     display: inline-block;
        //     width: 1em;
        //     margin-left: -1em;
        // }
    }
    p{
        margin-top: 20px;
        font-size: 30px;
    }
    // .link{
    //     margin-left: 50px;
    // }
    .class_link{
        width: 170px;
        height: 45px;
        background: #D8bcaf;
        border-radius: 10px;
        margin-left: 70px;
        margin-top: 40px;
        cursor: pointer;
        &:hover{
            background: #b98e6f;
        }
        &:hover > .link_border{
            border:  3px dashed #7e6b5d; ;
        }
        &:hover >.link_border> a{
            color: #EFDFD3;
        }
        .link_border{
            position: relative;
            width: 170px;
            height: 43px;
            border-radius: 15px;
            border: 3px dashed #EFDFD3;
            font-size: 23px;
            padding-left: 10px;
            a{
                color: #b98e6f;
                text-decoration: none;
            }
            span{
                height: 0px;
                width: 0px;
                position: absolute;
                top: 7px;
                right: 22px;
                border: 12px solid;
                border-color:  wheat wheat transparent  transparent  ;
                transform: rotate(45deg);
                animation: arrow1 2s infinite;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: block;
                    width: 20px;
                    height: 15px;
                    background: wheat;
                    transform: rotate(-45deg) translate(2px, 1px); 
                    animation: arrow2 2s infinite;
                }
                
            }
            h5{
                color: #b98e6f;
                right: 26px;
                top: 4px;
                font-size: 16px;
                position: absolute;
            }
        }
    }
}
.info-text{
    top: 10%;
    left: 28%;
}
.color-text{
    top: 10%;
    left: 33%;
}
.word-text{
    top: 8%;
    right: 10%; 
}
.ppt-text{
    top: 12%;
    right: 5%;
}
.fp-auto-height{
    height: 80px !important;
    background: plum;
    color: blueviolet;
    .footer{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

