@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: FakePearl-Regular;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.view1 {
  background-image: url(../image/infobg.jpg);
  height: 100vh;
}

.view2 {
  background-image: url(../image/infobg2.jpg);
  height: 800px;
}

.view3 {
  background-image: url(../image/infobg3.jpg);
  height: 800px;
}

.view4 {
  background-image: url(../image/infobg4.jpg);
  height: 800px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .iconGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  padding: 0 20px;
}

.main-nav .iconGroup .icon {
  background-color: #bac0fa;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  border-radius: 50%;
}

.main-nav .iconGroup .icon .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  opacity: 0;
}

.main-nav .iconGroup .icon:hover {
  background: #e9934d;
}

.main-nav .iconGroup .icon:hover .text {
  opacity: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.content .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .intro .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9e4cf;
  margin-top: -60px;
  border-radius: 50px;
  color: #f28f4c;
  font-size: 26px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 2px 1px rgba(242, 143, 76, 0.8);
          box-shadow: 5px 5px 2px 1px rgba(242, 143, 76, 0.8);
  text-align: center;
}

.content .intro .title img {
  margin-left: 30px;
}

.content .intro .chapter-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  width: 458px;
  height: 480px;
  -webkit-box-shadow: 10px 2px 2px 1px rgba(242, 143, 76, 0.8);
          box-shadow: 10px 2px 2px 1px rgba(242, 143, 76, 0.8);
  background-color: #fff3e6;
  margin-top: 80px;
}

.content .intro .chapter-text1 .patch1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 120px;
  height: 120px;
  border-radius: 10% 0 95%;
  border: 3px dashed #d6712d;
  background: #ffd9c0;
}

.content .intro .chapter-text1 .patch2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 180px;
  height: 180px;
  border-radius: 95% 0 10%;
  border: 3px dashed #d6712d;
  background: #ffd9c0;
}

.content .intro .chapter-text1 .patch2 img {
  margin-left: 30px;
  margin-top: 20px;
}

.content .intro .chapter-text1 .ch-image {
  margin-top: 5px;
  margin-left: 20px;
}

.content .intro .chapter-text1 .v1p {
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 20px;
  font-size: 30px;
  height: 350px;
  z-index: 10;
  overflow-y: auto;
}

.content .intro .chapter-text1 .v1p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content .intro .chapter-text1 .v1p::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content .intro .chapter-text1 .v1p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6b6b6b;
}

.content .intro .chapter-text1 .v2p {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 20px;
  font-size: 28px;
  height: 250px;
  z-index: 10;
  overflow-y: auto;
}

.content .intro .chapter-text1 .v2p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content .intro .chapter-text1 .v2p::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content .intro .chapter-text1 .v2p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6b6b6b;
}

.content .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.content .display .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin: 30px;
  border-radius: 20px;
  background-color: #fff3e6;
  -webkit-box-shadow: 10px 12px 2px 1px #f28f4c;
          box-shadow: 10px 12px 2px 1px #f28f4c;
  padding: 20px;
}

.content .display .play img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.content .display .play:hover .mask {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .display .play:hover .txt {
  opacity: 1;
}

.content .display .play .mask {
  opacity: 0;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: rgba(89, 88, 87, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .display .play .txt {
  position: absolute;
  opacity: 0;
  padding: 30px;
  font-size: 20px;
  margin-top: 60px;
  text-align: center;
  border-radius: 20px;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0.8);
}

.content .display .play2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 50px;
  background-color: #fff3e6;
  -webkit-box-shadow: 10px 12px 2px 1px #f28f4c;
          box-shadow: 10px 12px 2px 1px #f28f4c;
  padding: 110px 120px;
}

.content .display .play2 .mark {
  position: absolute;
  margin: auto;
  z-index: 10;
  opacity: 0;
  top: -140px;
}

.content .display .play2 p {
  text-align: center;
}

.content .display .play2 .nor {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.content .display .play2 .nortxt {
  margin-top: 20px;
  font-size: 25px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.content .display .play2 .lg {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
}

.content .display .play2 .lgtxt {
  font-size: 25px;
  margin-top: 20px;
  -webkit-transform: translateY(80px) scale(1.2);
          transform: translateY(80px) scale(1.2);
}

.content .display .play2:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: .5s;
  transition: .5s;
}

.content .display .play2:hover .mark {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .video {
  width: 1200px;
  height: 700px;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccc9c6;
  -webkit-box-shadow: 8px 10px 2px 1px rgba(242, 143, 76, 0.8);
          box-shadow: 8px 10px 2px 1px rgba(242, 143, 76, 0.8);
}

.v2fix {
  margin-top: 120px;
}

.colfix {
  color: #ef4d4d;
}

.shdowfix {
  width: 1200px;
  height: 700px;
  position: relative;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccc9c6;
  -webkit-box-shadow: 8px 15px 2px 1px rgba(239, 77, 77, 0.8);
          box-shadow: 8px 15px 2px 1px rgba(239, 77, 77, 0.8);
}

.shdowfix:hover .line {
  display: block;
}

.line {
  display: none;
  width: 1160px;
  height: 680px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 99;
}

.line .pot {
  -webkit-animation: pot .8s;
          animation: pot .8s;
}

.line .v1 {
  -webkit-animation: v1 .5s;
          animation: v1 .5s;
}

.line .v2 {
  -webkit-animation: v2 .5s;
          animation: v2 .5s;
}

.line .v3 {
  -webkit-animation: v3 .3s;
          animation: v3 .3s;
}

@-webkit-keyframes pot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes v1 {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes v1 {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes v2 {
  0% {
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes v2 {
  0% {
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@-webkit-keyframes v3 {
  0% {
    -webkit-transform: translatex(-40px);
            transform: translatex(-40px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes v3 {
  0% {
    -webkit-transform: translatex(-40px);
            transform: translatex(-40px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}
/*# sourceMappingURL=all.css.map */